html,
body {
  width: 100%;
  height: 100%;
}

html,
body,
div,
ul,
li,
label,
p {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
  outline: none;
}

span {
  outline: none !important;
}

input {
  outline: none;
  border: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #D9D9D9 inset !important;
  -webkit-text-fill-color: black !important;
}

a {
  text-decoration: none !important;
  color: white;
}

img {
  border: none;
  outline: none;
}

.CB {
  clear: both;
  height: 0;
  width: 0;
}

.CP {
  cursor: pointer;
}

.DN {
  display: none;
}

.FL {
  float: left;
}

.FR {
  float: right;
}

.MA {
  margin-left: auto;
  margin-right: auto;
}

.MT03 {
  margin-top: 3px;
}

.ML05 {
  margin-left: 5px;
}

.ML10 {
  margin-left: 10px;
}

.MR05 {
  margin-right: 5px;
}

.MB05 {
  margin-bottom: 5px;
}

.MT05 {
  margin-top: 5px;
}

.MT10 {
  margin-top: 10px;
}

.ML10 {
  margin-left: 10px;
}

.MT15 {
  margin-top: 15px;
}

.MT50 {
  margin-top: 50px;
}

.ML30 {
  margin-left: 30px;
}

.MT20 {
  margin-top: 20px;
}

.MT40 {
  margin-top: 40px;
}

.VAlign {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sectionBackground {
  background: linear-gradient(242.24deg, rgba(86, 204, 242, 0.6) 0%, rgba(40, 0, 124, 0.6) 100%) !important;
}

@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1140px;
  }
}
